{{#if isActive}}
    <div class="item__header">
        <div class="item__header-person">
            <img class="item__header-avatar" src="{{ chatAvatar }}" alt="">
            <p class="item__header-name">{{ personName }}</p>
        </div>
        <button class="item__header-actions">
            <img src="../../assets/icons/actions.png" alt="">
        </button>
    </div>

    <hr class="chat__line">

    <div class="item__dialogue">
        <p class="item__dialogue-date">19 июня</p>
        <div class="item__dialogue-inner">
            <div class="dialogue__person">
                <div class="dialogue__person-message">
                    <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.<br><br>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
                    <p class="dialogue__person-time">11:56</p>
                </div>
                <div class="dialogue__person-img">
                    <div class="dialogue__person-img-wrapper">
                        <img src="../../assets/images/camera.png" alt="">
                        <p class="dialogue__person-img-time">11:56</p>
                    </div>
                </div>
            </div>
            <div class="dialogue__me">
                <div class="dialogue__me-message">
                    <p>Круто!</p>
                    <div class="dialogue__me-status">
                        <img src="../../assets/icons/status.png" alt="">
                    </div>
                    <p class="dialogue__me-time">11:56</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dialogue__panel">
        <hr class="chat__line">
        <div class="dialogue__panel-inner">

            <button class="dialogue__panel-pin">
                <img src="../../assets/icons/pin.png" alt="">
            </button>

            <form class="dialogue__panel-form" action="">
                <input type="text" placeholder="Сообщение" name="message">
                <button type="submit">
                    <img src="../../assets/icons/right-arrow.png" alt="">
                </button>
            </form>

        </div>
    </div>



{{/if}}