// colors 
$primary: #3369F3;

// font-family
$main-family: 'Inter', sans-serif;

// font-colors
$font-primary: #1E1E1E;
$font-secondary: #999999;
$font-negative: #FF2F2F;

// other
$white-bg: #ffffff;
$field-bg: #EFEFEF;